## Make the dataframe including the evapotranspiration for the each years and regions
- Date : Mar 20, 2023
- Author : JaeEun Yoo

### 2010, 2012, 2015, 2016, 2021

In [154]:
import os
import glob
import pandas as pd
import shutil
import re

In [2]:
root_path = '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/'
year_list = glob.glob(root_path+'/*')
year_list.sort()

In [4]:
year_list

['../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2010',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2011',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2012',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2013',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2014',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2015',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2016',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2017',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2018',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2019',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2020',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2021']

# 2015

In [42]:
files = glob.glob(year_list[5]+'/*.xls')

In [43]:
files.sort()
files

['../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2015/일증발산량 연표(2015).xls',
 '../샘플데이터/13. 한국수문조사연보(유량편)_증발산량/2015/증발산량관측소 일람표(2015).xls']

In [45]:
data = pd.read_excel(files[0],header=3,sheet_name=None)
sheet_names = [k for k in data.keys()]

In [196]:
sheet_names

['청미천2015', '설마천2015', '덕유산2015', '무안2015']

In [197]:
data = pd.read_excel(files[0],header=3,sheet_name = sheet_names[0])
data = data.drop([0])
data = data.reset_index(drop=True)
data = data[:31]

In [198]:
data

,Month\n일 월\nDate,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,
0,1,0.4,0.4*,0.6,0.7,3.4,3.4*,4.3,3,2.4,0.2*,0.4*,0.3*,NaN
1,2,0.3,0.3,1,0.8*,2.8,4.2,3.9,0.5*,1.7*,1.5,0.6*,0.0*,NaN
2,3,0.2,0.3,0.6*,0.7*,0.7,5.4,4.2,2.9*,1.9*,1.4,0.6*,0.2*,NaN
3,4,0.2,0.3,1.3,2.1,4.2,4.2,4.4,3.6,2.7,1.1,0.6*,0.2,NaN
4,5,0.1,0.2,0.7,0.3,4,1,4.9*,3.8*,1.1,1.2,0.8*,0.3*,NaN
5,6,0.8*,0.3,0.8,0.8,2.3,3.4*,4.8*,4,1.3,1.4*,0.7*,0.4*,NaN
6,7,0.5,0.1,1.2,0.7,3.6,4.0*,1.5*,3.8*,2.8,1.3*,0,0.2*,NaN
7,8,0.3*,0.3*,1.0*,1.9,2.5,2.1,1.2,2.6*,2.7*,1.3,0.1*,0.5*,NaN
8,9,0.2*,0.1*,1.1*,2.5*,3.7,2.9,2,3.8,2.6,1.9,0.1*,0.3,NaN
9,10,0.3*,0.2*,1,2.9*,3.8*,4.2*,3.8,2,2.6,0.9,0.5*,0,NaN
10,11,0.4,0.3,0.6,3*,1.4,2.3,4.3*,1.7,1.4*,0.6,0.5*,0.6*,NaN
11,12,0.3,0.4,0.8*,1.8,2.5,4.7*,0.7,4.0*,1.3,2,0.4*,0.5*,NaN
12,13,0.2,0.4,1.1*,1.4,4.1,3.3*,0.8,3.1*,2.6,1.3*,0.0*,0.5*,NaN
13,14,0.1*,0.1,1,0.5,3.4,3.7,3.5*,2.9,2.2,1.5,0.1,0.1,NaN
14,15,0.2,0.2,0.9,1.9,1.3,4.0*,3.1*,3.6*,1.9,1.3,0.7,0.4*,NaN
15,16,0.1*,0.0*,0.8*,0.7,4.3,3.6*,4.4,1.4*,1.6,0.8,0.2,1.1*,NaN
16,17,0.4,0.3*,0.4*,3.2*,3.8*,4.1,3.7,3.4*,2.1,1.2,0.5*,0.8*,NaN
17,18,0.2*,0.2,0.1,2.6,2.5,3.3,3.2,4.2*,1.9,0.9,0.2*,0.2,NaN
18,19,0.4,0.5*,1.5*,0.8*,0.8,4.2,2.2*,2.3,1.8,0.9,0.3*,0.2,NaN
19,20,0.3*,0.6,1.3*,0.6*,2.9,0.4,1.9,2.2,1.6,1.1,0.4*,0.1,NaN
20,21,0.1,0.1*,1.5*,2.7*,4,4.6*,2.1*,2.3,2,1.0*,0.3,0,NaN
21,22,0.3,0.3,1.3,3.0*,4.2*,4.7,2.7*,2.3,2.0*,1,0.3*,0.2,NaN
22,23,0,0.8,1.1*,3.1*,4.2,5.1*,1.7,3.1,0.7,0.8,0.2,0.1*,NaN
23,24,0.2,0.7*,1,3.5*,4.5,3.6,0.1,2.4,1.2,0.9,0.4,0.2,NaN
24,25,0,1.0*,1.1*,3.8*,4.3*,1.7,1.3,0.8,1.4,1.5*,0.1*,0.8*,NaN
25,26,0,1.2*,1.1*,3.3*,4.3*,1.7*,4.9*,2.8,1.2,1.3*,0.6,0.4*,NaN
26,27,0.2,1,1.1,3.6*,4.2*,3.6*,1.8*,3.3*,1.4,0.9,0.4,1.0*,NaN
27,28,0.3*,0.4,1.1,3.0*,5,4.9,4.4,2,1.1,1.3*,0.1*,0.6*,NaN
28,29,0.1,NaN,0.6*,0.3,3.8*,4.9,1.1*,3.1*,1.5,1.5*,0.1,0.5*,NaN
29,30,0.5*,NaN,0.5*,2.3*,1.2,2.9,3,2.6,1,1.6,0.4*,0.4*,NaN
30,31,0.4*,NaN,0.1,NaN,3.1,NaN,3.5,2.5,NaN,1.2,NaN,0.2,NaN

In [51]:
year = '2015'

In [147]:
columns_list = ['Region','Year','Month','Day','Evapotrans','GapFilled']

In [190]:
r = re.sub(r'[0-9]','', region)

In [191]:
r

'청미천'

In [193]:
res = pd.DataFrame(columns=columns_list)
for region in sheet_names:
    data = pd.read_excel(files[0],header=3,sheet_name = region)
    data = data.drop([0])
    data = data.reset_index(drop=True)
    data = data[:31]
    region = re.sub(r'[0-9]','', region)

    for m in data.columns[1:13]:
        for d in data[data.columns[0]]:
            if str(data[m].iloc[d-1])[-1] == '*':
                items = pd.DataFrame({'Region':region,
                         'Year':year, 
                         'Month' :m, 
                         'Day' : str(d),
                         'Evapotrans' : str(data[m][d-1])[:-1],
                         'GapFilled' : '1'}, index=[0])
            else:
                items = pd.DataFrame({'Region':region,
                         'Year':year, 
                         'Month' :m, 
                         'Day' : str(d),
                        'Evapotrans':data[m][d-1],
                         'GapFilled' : ''}, index=[0])
            res = pd.concat([res,items],ignore_index=True)

In [194]:
res

     Region  Year Month Day Evapotrans GapFilled
0       청미천  2015    1월   1        0.4         1
1       청미천  2015    1월   2        0.3         1
2       청미천  2015    1월   3        0.2         1
3       청미천  2015    1월   4        0.2         1
4       청미천  2015    1월   5        0.1         1
...     ...   ...   ...  ..        ...       ...
1483     무안  2015   12월  27        0.3         1
1484     무안  2015   12월  28        0.2         1
1485     무안  2015   12월  29        0.3         1
1486     무안  2015   12월  30        0.2         1
1487     무안  2015   12월  31        0.2         1

[1488 rows x 6 columns]